/*RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*RESET END*/
body {
	font-family: 'Droid Sans', sans-serif;
}

.containar {
	width: 1280px;
	margin: 0 auto;
}

/*HEADER*/

.header {
	height: 774px;
	background-color: rgba(52,73,94,0.5);
}

.gradient-header {
	background-image: url('../image/header.png');
	position: absolute;
	width: 1280px;
	height: 774px;
	top: 0;
	z-index: -1;
}

.header-logo {
	float: left;
	margin-left: 154px;
	padding-top: 44px;
	height: 52px;
	width: 142px;
	overflow: hidden;
	box-sizing:content-box;

}

.menu {
	float: right;
	margin-top: 62px;
	padding-right: 126px;
}

.menu a {
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
}

.menu li {
	display: inline;
    padding-left: 36px;
}

.header .big-text {
	display: block;
	font-size: 58px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	padding-top: 291px;

}

.button-circle {
  display: inline-block;
  margin-top: 165px; 
  width: 50px;
  height: 50px;
  background: #2ecc71;
  border-radius: 50%;
  margin-left: 610px;
}
.button-circle:hover {
	text-decoration:none;
	}

.button-arrow {
	display: block;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 17px;
	font-weight: bold;
	color: #ffffff;
}

.button-text {
	display: block;
	color: #ffffff;
	margin-bottom: 15px;
	margin-left: -7px;
	padding-top: 22px;
	font-size: 18px;
}
/*END HEADER*/

/*Section services*/

.services {
	background-color: #34495e;
	overflow: hidden;
	padding-bottom: 115px;
}

.services h3 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding-top: 129px;
	padding-bottom: 70px;
}

.text-services-about {
	font-family: 'Droid Serif', serif;
	margin-left: 252px;
	margin-right: 252px;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	margin-bottom: 150px;
}

.list-services {
	text-align: center;
	
}
.list-services li {
	display: inline-block;
	width: 250px;
	text-align: center;
	margin: 30px;

}

.list-services h2 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
	margin-top: 30px;
	margin-bottom: 30px;
}

.list-services span {
	font-family: 'Droid Serif', serif;
	color: #ffffff;
	font-size: 20px;
	line-height: 25px;
}
/* End Section services*/

/*PORTFOLIO SECTION*/

.portfolio {
	background: #ffffff;
	min-height: 1076px;
}

.portfolio h3 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #2c3e50;
	text-align: center;
	padding-top: 102px;
	padding-bottom: 75px;
}
.nav {
	margin-left: 340px;
	padding-bottom: 102px;

}
.nav li {
	font-size: 25px;
	margin-right: 30px;	
}

.nav-tabs>li>a {
	font-family:'Droid Sans', sans-serif;
	color: #2c3e50;
	border: 1px solid #2ecc71;
	border-radius: 20px 20px 20px 20px;
	border-color: transparent;
}

.nav-tabs>li.active > a, 
.nav-tabs>li.active > a:focus, 
.nav-tabs>li.active > a:hover {
	cursor: default;
	background-color: #2ecc71;
	color: #ffffff;
}

.nav-tabs {
	border-bottom: none;
}

.tab-pane {
	margin: 0px 25px 0px 25px;
}

.portfolio-image {
	float: left;
	height: 260px;
	width: 348px;
	margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #e9e9e9;
    padding: 10px;
    box-sizing: content-box;
}

.overlay {
	height: 260px;
	width: 348px;
	background-color: rgba(53, 73, 94, 0.9);
	position: relative;
    top: -263px;
    display: none;	 	  
}

.portfolio-image img:hover + .overlay,
.portfolio-image .overlay:hover {
	display: block;
}

.overlay-text {
	font-family: 'Droid Sans', sans-serif;
	color: #ffffff;
	font-size: 35px;
	font-weight: bold;
	display: block;
	margin-left: 75px;
    padding-top: 106px;
}

.overlay-button {
	font-family: 'Droid Serif', serif;
	display: block;
	font-size: 12px;
	color: #ffffff;
	padding: 14px 0px 14px 20px;
	margin: 24px 116px 0px 116px;
    border: 1px solid #ffffff;
    border-radius: 20px 20px 20px 20px;
}
/*PORTFOLIO SECTION END

/*TEAM SECTION*/

.team {
	background: #2980b9;
	padding-bottom: 100px;
}

.team h3 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding-top: 124px;
	padding-bottom: 70px;
}

.list-team {
	text-align: center;
}

.list-team li{
	display: inline-block;
	width: 340px;
	text-align: center;
	margin: 30px;
}

.list-team h2 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
	margin-top: 30px;
	margin-bottom: 30px;
}

.list-team span {
	display: block;
	font-family: 'Droid Serif', serif;
	color: #ffffff;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 54px;
}

.image-team img {
	border: 4px solid #ffffff;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    background-color: #ffffff;
}

img {
	margin-right: 22px;
}
/*END TEAM SECTION*/

/*CONTACT SECTION*/
.contact {
	background: #ffffff;
	min-height: 858px;
	margin-bottom: 80px;
}

.contact h3 {
	font-family: 'Droid Sans', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #2c3e50;
	text-align: center;
	padding-top: 122px;
	padding-bottom: 70px;
}

.contact p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 28px;
	color: #2c3e50;
	font-weight: bold;
	text-align: center;
	padding-bottom: 80px;
}

.form-contact {
	float: left;
	margin-left: 332px;
	width: 378px;
	height: 416px;
}

.form-contact input {
	border: none;
	border-bottom: 2px solid #2ecc71;
}

.form-contact input:focus{
	border: none;
	outline: none;
	border-bottom: 2px solid #2ecc71;
}

.form-contact textarea {
	border: none;
	outline: none;
	border-bottom: 2px solid #2ecc71;
    height: 141px;
    resize: none;
}

.form-contact ::-webkit-input-placeholder {
	font-family: 'Droid Serif', serif;
	color:#2c3e50;
	font-size: 26px;
	letter-spacing: 1px;
	font-weight: normal;
}
.form-contact ::-moz-placeholder {
	font-family: 'Droid Serif', serif;
	color:#2c3e50;
	font-size: 26px;
	letter-spacing: 1px;
	font-weight: normal;
}
.form-contact :-moz-placeholder {
	font-family: 'Droid Serif', serif;
	color:#2c3e50;
	font-size: 26px;
	letter-spacing: 1px;
	font-weight: normal;
}
.form-contact :-ms-input-placeholder {
	font-family: 'Droid Serif', serif;
	color:#2c3e50;
	font-size: 26px;
	letter-spacing: 1px;
	font-weight: normal;
}

.form-contact .button-submite {
	font-family: 'Droid Serif', serif;
	background:#2ecc71;
	color: #ffffff;
	border-radius: 20px 20px 20px 20px;
	font-weight: normal;
	font-size: 21px;
	padding: 10px 30px 10px 30px;
	margin-right: 220px;
}


.adress-contact {
	float: right;
	display: block;
	width: 200px;
	margin-right: 221px;
}

.adress-contact dt {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	color: #2c3e50;
	font-weight: bold;
	margin-top: 60px;
	
}
.adress-contact dt:first-child {
	margin-top: 0px;

}
.adress-contact dd {
	font-family: 'Droid Sans', sans-serif;
	font-size: 20px;
	color: #747d87;
	padding-top: 8px;
}
/*END CONTACT SECTION*/

.footer {
	background: #2c3e50;
	min-height: 282px;
}

.footer-logo {
	margin-top: 74px;
	margin-bottom: 20px;
	margin-left: 154px;
}

.footer-information {
	margin-left: 154px;
}

.footer-information >* {
    display: inline-block;
}

.footer-information p {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	line-height: 24px;
	margin-right: 140px;
}

.footer-image img {
	margin-right: 22px;
}